* {
  font-family: sans-serif;
  border: 1px solid #888;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

.productPrice,
.productTotalCost,
#totalCost {
  text-align: right;
}
